## **Assuming, we are planning to open a restaurant in Philadelphia** üçü:
Before opening a restaurant one must keep in mind a lot of factors like:


1.   Type of restaurant you want to open
2.   Target Audience
3.   Is there a demand/need for the type of place you are considering
4.   What kind of facilities you want to offer?
5.   Do you want to offer Alcohol? Should you consider getting an alcohol licence ?
6.   Do you want to offer food delivery?
7.   Should you consider opening just a dessert place or a bakery?

Several other factors and questions arise, we have taken some and tried to answer them by querying the YELP Database

*** Code to check if the Team database connections are working ***

In [ ]:
!pip install mysqlclient

Collecting mysqlclient
  Downloading mysqlclient-2.1.0.tar.gz (87 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 87 kB 4.4 MB/s
Building wheels for collected packages: mysqlclient
  Building wheel for mysqlclient (setup.py) ... done
  Created wheel for mysqlclient: filename=mysqlclient-2.1.0-cp37-cp37m-linux_x86_64.whl size=99966 sha256=00718534a39cddfbb2830c658e558dd31b36d5e4397ae2888a650a093e10d8c2
  Stored in directory: /root/.cache/pip/wheels/97/d4/df/08cd6e1fa4a8691b268ab254bd0fa589827ab5b65638c010b4
Successfully built mysqlclient
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.1.0

In [ ]:
%load_ext sql

In [ ]:
# Enter team name (team#) and password below to check connection
%sql mysql://team7:*******@badm-database.cte4bvaqxbgn.us-east-2.rds.amazonaws.com:3306

'Connected: team7@None'

*** Showing Databases ***

In [ ]:
%sql show databases

 * mysql://team7:***@badm-database.cte4bvaqxbgn.us-east-2.rds.amazonaws.com:3306
2 rows affected.

[('information_schema',), ('team7',)]

In [ ]:
# your team name is the same as your schema/database name
%sql use team7

 * mysql://team7:***@badm-database.cte4bvaqxbgn.us-east-2.rds.amazonaws.com:3306
0 rows affected.

[]

*** Showing Tables ***

In [ ]:
# The first time you run this, there should be no tables in the schema/database 
%sql show tables;

 * mysql://team7:***@badm-database.cte4bvaqxbgn.us-east-2.rds.amazonaws.com:3306
10 rows affected.

[('ASSIGNMENT',),
 ('Checkin',),
 ('EMPLOYEE',),
 ('JOB',),
 ('PROJECT',),
 ('business',),
 ('checkin',),
 ('review',),
 ('tip',),
 ('user',)]

*** We will be working with Business Table in our Database ***

In [ ]:
%%sql 
use business;

 * mysql://team7:***@badm-database.cte4bvaqxbgn.us-east-2.rds.amazonaws.com:3306
(MySQLdb._exceptions.OperationalError) (1044, "Access denied for user 'team7'@'%' to database 'business'")
[SQL: use business;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

*** Viewing the first 5 Data Rows of the Business Table ***

In [ ]:
%%sql
select * from business limit 5

 * mysql://team7:***@badm-database.cte4bvaqxbgn.us-east-2.rds.amazonaws.com:3306
5 rows affected.

[(0, 'Pns2l4eNsfO8kk83dixA6A', 'Abby Rappoport, LAC, CMQ', '1616 Chapala St, Ste 2', 'Santa Barbara', 'CA', '93101', 34.4266787, -119.7111968, 5.0, 7, 0, '{"ByAppointmentOnly": "True"}', 'Doctors, Traditional Chinese Medicine, Naturopathic/Holistic, Acupuncture, Health & Medical, Nutritionists', 'null'),
 (1, 'mpf3x-BjTdTEA3yCZrAYPw', 'The UPS Store', '87 Grasso Plaza Shopping Center', 'Affton', 'MO', '63123', 38.551126, -90.335695, 3.0, 15, 1, '{"BusinessAcceptsCreditCards": "True"}', 'Shipping Centers, Local Services, Notaries, Mailbox Centers, Printing Services', '{"Friday": "8:0-18:30", "Monday": "0:0-0:0", "Tuesday": "8:0-18:30", "Saturday": "8:0-14:0", "Thursday": "8:0-18:30", "Wednesday": "8:0-18:30"}'),
 (2, 'tUFrWirKiKi_TAnsVWINQQ', 'Target', '5255 E Broadway Blvd', 'Tucson', 'AZ', '85711', 32.223236, -110.880452, 3.5, 22, 0, '{"WiFi": "u\'no\'", "HasTV": "False", "Caters": "False", "CoatCheck": "False", "HappyHour": "False", "BikeParking": "True", "DogsAllowed": "False", " ... (222 characters truncated) ... y": "False", "WheelchairAccessible": "True", "RestaurantsPriceRange2": "2", "RestaurantsReservations": "False", "BusinessAcceptsCreditCards": "True"}', 'Department Stores, Shopping, Fashion, Home & Garden, Electronics, Furniture Stores', '{"Friday": "8:0-23:0", "Monday": "8:0-22:0", "Sunday": "8:0-22:0", "Tuesday": "8:0-22:0", "Saturday": "8:0-23:0", "Thursday": "8:0-22:0", "Wednesday": "8:0-22:0"}'),
 (3, 'MTSW4McQd7CbVtyjqoe9mw', 'St Honore Pastries', '935 Race St', 'Philadelphia', 'PA', '19107', 39.9555052, -75.1555641, 4.0, 80, 1, '{"WiFi": "u\'free\'", "Caters": "True", "Alcohol": "u\'none\'", "BikeParking": "True", "OutdoorSeating": "False", "BusinessParking": "{\'garage\': Fa ... (93 characters truncated) ... ntOnly": "False", "RestaurantsTakeOut": "True", "RestaurantsDelivery": "False", "RestaurantsPriceRange2": "1", "BusinessAcceptsCreditCards": "False"}', 'Restaurants, Food, Bubble Tea, Coffee & Tea, Bakeries', '{"Friday": "7:0-21:0", "Monday": "7:0-20:0", "Sunday": "7:0-21:0", "Tuesday": "7:0-20:0", "Saturday": "7:0-21:0", "Thursday": "7:0-20:0", "Wednesday": "7:0-20:0"}'),
 (4, 'mWMc6_wTdE0EUBKIGXDVfA', 'Perkiomen Valley Brewery', '101 Walnut St', 'Green Lane', 'PA', '18054', 40.3381827, -75.4716585, 4.5, 13, 1, '{"Caters": "False", "BikeParking": "True", "GoodForKids": "True", "BusinessParking": "{\'garage\': None, \'street\': None, \'validated\': None, \'lot\': True, \'valet\': False}", "RestaurantsTakeOut": "True", "WheelchairAccessible": "True", "BusinessAcceptsCreditCards": "True"}', 'Brewpubs, Breweries, Food', '{"Friday": "12:0-22:0", "Sunday": "12:0-18:0", "Saturday": "12:0-22:0", "Thursday": "16:0-22:0", "Wednesday": "14:0-22:0"}')]

###  **QUESTIONS TO CONSIDER WHILE DOING RESEARCH FOR OPENING A RESTAURANT**

Q1. Is there any pub available in the area we want to open a business in? Should we consider opening a pub if it's not present?

In [ ]:
%%sql
SELECT name,address, stars FROM business
WHERE city="Philadelphia" AND categories LIKE '%Pubs%'
ORDER BY review_count DESC
LIMIT 5;

 * mysql://team7:***@badm-database.cte4bvaqxbgn.us-east-2.rds.amazonaws.com:3306
5 rows affected.

[('Good Dog Bar', '224 S 15th St', 4.0),
 ('Harp & Crown', '1525 Sansom St', 4.0),
 ('National Mechanics', '22 S 3rd St', 4.0),
 ('Khyber Pass Pub', '56 S 2nd St', 4.0),
 ('Yards Brewing Company', '500 Spring Garden St', 4.0)]

Q2. How many places are offering Happy Hours ? Should we try to lure customers by offering happy hours ?

In [ ]:
%%sql
SELECT name,address, stars, review_count, hours FROM business
WHERE city ='Philadelphia' AND attributes LIKE '%"HappyHour": "True"%' 
ORDER BY stars DESC
LIMIT 10;

 * mysql://team7:***@badm-database.cte4bvaqxbgn.us-east-2.rds.amazonaws.com:3306
10 rows affected.

[('Algorithm Restaurants', '', 5.0, 10, '{"Friday": "16:0-21:0", "Monday": "12:0-17:0", "Sunday": "12:0-19:0", "Tuesday": "12:0-21:0", "Saturday": "16:0-21:0", "Thursday": "16:0-21:0", "Wednesday": "16:0-21:0"}'),
 ('City Cigars', '615 Byberry Rd', 5.0, 8, '{"Friday": "10:0-0:30", "Monday": "10:0-0:30", "Sunday": "10:0-0:30", "Tuesday": "10:0-0:30", "Saturday": "10:0-0:30", "Thursday": "10:0-0:30", "Wednesday": "10:0-0:30"}'),
 ('Philadelphia Distilling', '25 E Allen St', 5.0, 182, '{"Friday": "11:0-23:0", "Monday": "11:0-18:0", "Sunday": "11:0-21:0", "Tuesday": "11:0-18:0", "Saturday": "11:0-23:0", "Thursday": "11:0-22:0", "Wednesday": "11:0-18:0"}'),
 ('El Boom Catracho', '1438 Federal St', 5.0, 8, '{"Friday": "11:0-23:30", "Monday": "11:0-23:30", "Sunday": "11:0-23:30", "Tuesday": "11:0-23:30", "Saturday": "11:0-23:30", "Thursday": "11:0-23:30", "Wednesday": "11:0-23:30"}'),
 ('The Lunar Inn', '3124 Richmond St', 4.5, 29, '{"Friday": "16:0-23:0", "Monday": "0:0-0:0", "Sunday": "11:0-16:0", "Tuesday": "16:0-22:0", "Saturday": "12:0-23:0", "Thursday": "16:0-22:0", "Wednesday": "16:0-22:0"}'),
 ('Capofitto', '233 Chestnut St', 4.5, 205, '{"Friday": "11:30-23:0", "Monday": "0:0-0:0", "Sunday": "11:30-21:0", "Saturday": "11:30-23:0", "Thursday": "11:30-21:0", "Wednesday": "11:30-21:0"}'),
 ('New Liberty Distillery', '1431 N Cadwallader St', 4.5, 48, '{"Friday": "12:0-20:0", "Monday": "12:0-17:0", "Sunday": "12:0-17:0", "Tuesday": "12:0-17:0", "Saturday": "12:0-20:0", "Thursday": "12:0-17:0", "Wednesday": "12:0-17:0"}'),
 ("Franny Lou's Porch", '2400 Coral St', 4.5, 68, '{"Friday": "8:0-16:0", "Monday": "8:0-16:0", "Sunday": "8:0-16:0", "Tuesday": "8:0-16:0", "Saturday": "8:0-16:0", "Thursday": "8:0-16:0", "Wednesday": "8:0-16:0"}'),
 ('Independence Brew Pub', '1150 Filbert St', 4.5, 5, 'null'),
 ('Spice Finch', '220 S 17th St', 4.5, 325, '{"Friday": "17:0-22:0", "Monday": "0:0-0:0", "Sunday": "12:0-20:0", "Tuesday": "17:0-21:0", "Saturday": "12:0-22:0", "Thursday": "17:0-21:0", "Wednesday": "17:0-21:0"}')]

Q3. Should we consider opening a dessert place ? What are the attributes of the most popular dessert place, something people look for?

In [ ]:
%%sql
SELECT name, stars,postal_code, attributes,hours FROM business
WHERE city ='Philadelphia' AND categories LIKE '%Dessert%' 
ORDER BY stars DESC 
LIMIT 10;

 * mysql://team7:***@badm-database.cte4bvaqxbgn.us-east-2.rds.amazonaws.com:3306
10 rows affected.

[('The Sweet Life Bakeshop', 5.0, '19147', '{"Caters": "True", "DriveThru": "False", "NoiseLevel": "u\'quiet\'", "BikeParking": "True", "DogsAllowed": "False", "GoodForKids": "True", "BusinessP ... (153 characters truncated) ... ery": "True", "WheelchairAccessible": "True", "BusinessAcceptsBitcoin": "False", "RestaurantsPriceRange2": "2", "BusinessAcceptsCreditCards": "True"}', '{"Friday": "11:0-19:0", "Monday": "0:0-0:0", "Sunday": "11:0-18:30", "Tuesday": "11:0-18:30", "Saturday": "12:0-17:0", "Thursday": "11:0-19:0", "Wednesday": "11:0-19:0"}'),
 ('Flourish Bakeshop', 5.0, '19143', '{"Caters": "True", "BikeParking": "True", "RestaurantsTakeOut": "True", "RestaurantsDelivery": "True", "WheelchairAccessible": "True", "BusinessAcceptsCreditCards": "True"}', '{"Friday": "9:0-18:0", "Monday": "9:0-18:0", "Tuesday": "9:0-18:0", "Saturday": "9:0-15:0", "Thursday": "9:0-18:0", "Wednesday": "9:0-18:0"}'),
 ('Heart and Soul Bakery', 5.0, '19103', '{"Caters": "True", "BikeParking": "True", "DogsAllowed": "True", "BusinessParking": "{\'garage\': False, \'street\': False, \'validated\': False, \'l ... (49 characters truncated) ... ut": "True", "RestaurantsDelivery": "False", "WheelchairAccessible": "True", "BusinessAcceptsBitcoin": "False", "BusinessAcceptsCreditCards": "True"}', '{"Friday": "9:0-17:0", "Monday": "9:0-17:0", "Tuesday": "9:0-17:0", "Thursday": "9:0-17:0", "Wednesday": "9:0-17:0"}'),
 ('Twelve Baskets', 5.0, '19019', '{"BikeParking": "False", "RestaurantsDelivery": "True", "BusinessAcceptsBitcoin": "False", "RestaurantsPriceRange2": "2", "BusinessAcceptsCreditCards": "True"}', '{"Friday": "11:0-15:0", "Tuesday": "11:0-15:0", "Saturday": "11:0-15:0", "Thursday": "11:0-15:0", "Wednesday": "11:0-15:0"}'),
 ('Nutmeg Cake Design', 5.0, '19103', '{"BusinessParking": "{\'garage\': False, \'street\': True, \'validated\': False, \'lot\': False, \'valet\': False}", "RestaurantsPriceRange2": "2", "BusinessAcceptsCreditCards": "True"}', '{"Friday": "7:0-18:0", "Monday": "7:0-18:0", "Sunday": "7:0-18:0", "Tuesday": "7:0-18:0", "Saturday": "7:0-18:0", "Thursday": "7:0-18:0", "Wednesday": "7:0-18:0"}'),
 ("Siddiq's Real Fruit Water Ice", 5.0, '19139', '{"WiFi": "\'no\'", "Caters": "True", "BikeParking": "True", "BusinessParking": "{u\'valet\': False, u\'garage\': False, u\'street\': True, u\'lot\':  ... (44 characters truncated) ... akeOut": "True", "RestaurantsDelivery": "True", "WheelchairAccessible": "False", "RestaurantsPriceRange2": "1", "BusinessAcceptsCreditCards": "True"}', '{"Friday": "11:0-0:0", "Monday": "11:0-22:0", "Sunday": "11:0-22:0", "Tuesday": "11:0-22:0", "Saturday": "11:0-0:0", "Thursday": "11:0-0:0", "Wednesday": "11:0-22:0"}'),
 ("Joseppi's Water Ice", 5.0, '19141', '{"WiFi": "u\'no\'", "BikeParking": "False", "BusinessParking": "{\'garage\': False, \'street\': False, \'validated\': False, \'lot\': False, \'valet\': False}", "RestaurantsTakeOut": "True", "RestaurantsPriceRange2": "1", "BusinessAcceptsCreditCards": "True"}', 'null'),
 ('La Saveur', 5.0, '19147', '{"RestaurantsTakeOut": "None", "RestaurantsDelivery": "True"}', '{"Friday": "14:30-21:0", "Sunday": "9:30-21:0", "Tuesday": "10:0-20:0", "Saturday": "9:30-21:0", "Thursday": "17:0-21:0", "Wednesday": "17:0-21:0"}'),
 ('Jiggy Coffee', 5.0, '19107', '{"DogsAllowed": "True", "RestaurantsTakeOut": "True", "RestaurantsDelivery": "False"}', '{"Friday": "7:0-14:0", "Monday": "0:0-0:0", "Sunday": "8:0-14:0", "Tuesday": "7:0-16:0", "Saturday": "8:0-16:0", "Thursday": "7:0-16:0", "Wednesday": "7:0-16:0"}'),
 ('Cake Life Bake Shop', 4.5, '19125', '{"WiFi": "u\'free\'", "HasTV": "False", "Caters": "True", "Alcohol": "u\'none\'", "Ambience": "{\'touristy\': False, \'hipster\': False, \'romantic\' ... (770 characters truncated) ... 1", "RestaurantsReservations": "False", "RestaurantsTableService": "False", "RestaurantsGoodForGroups": "True", "BusinessAcceptsCreditCards": "True"}', '{"Friday": "11:0-18:0", "Monday": "0:0-0:0", "Sunday": "10:0-17:0", "Saturday": "10:0-17:0", "Thursday": "8:0-12:0", "Wednesday": "11:0-18:0"}')]

Q4. Should we consider opening a Smokehouse or a BBQ place if there is no Smokehouse in Belleville?

In [ ]:
%%sql
SELECT name, address, city,stars FROM business
WHERE city ='Philadelphia' AND categories LIKE '%Barbeque%' 
LIMIT 10;

 * mysql://team7:***@badm-database.cte4bvaqxbgn.us-east-2.rds.amazonaws.com:3306
10 rows affected.

[('Chenango Restaurant & Bar', '1031 Germantown Ave', 'Philadelphia', 2.0),
 ('About BBQ', '933 Race Sreet', 'Philadelphia', 4.0),
 ('Oh So Good', '1900 Market St', 'Philadelphia', 3.5),
 ('So Korean Grill', '6201 N Front St, Ste 120', 'Philadelphia', 4.5),
 ('Jeisy Grilled Chicken', '5701 Germantown Ave', 'Philadelphia', 4.0),
 ("JD's Soul Food Kitchen", '4056 Lancaster Ave', 'Philadelphia', 3.0),
 ('Smokey Pint', '2549 Orthodox St', 'Philadelphia', 4.0),
 ("Mommy Telly's Famous BBQ", '23 N 33rd St', 'Philadelphia', 5.0),
 ('El Camino Real', '1040 N 2nd St', 'Philadelphia', 3.5),
 ('South Philly Sm√∂khaus', '821 Dudley St, Room 108', 'Philadelphia', 4.0)]

Q5. Are there any Dog Friendly restaurants where the owners can take their dogs with them? If not, we can consider opening a restaurant that is pet friendly.

In [ ]:
%%sql
SELECT name, address, city,stars FROM business
WHERE city ='Philadelphia' AND attributes LIKE '%"DogsAllowed": "True"%' AND categories='Restaurants'
LIMIT 10;

 * mysql://team7:***@badm-database.cte4bvaqxbgn.us-east-2.rds.amazonaws.com:3306
0 rows affected.

[]

Q6. Do restaurants in Philadelphia have outdoor seating? If not, we can consider outdoor seating.

In [ ]:
%%sql
SELECT name, address, city,stars FROM business
WHERE city ='Philadelphia' AND attributes LIKE '%"OutdoorSeating": "True"%' 
LIMIT 10;

 * mysql://team7:***@badm-database.cte4bvaqxbgn.us-east-2.rds.amazonaws.com:3306
10 rows affected.

[('Tuna Bar', '205 Race St', 'Philadelphia', 4.0),
 ('DeSandro on Main', '4105 Main St', 'Philadelphia', 3.0),
 ('Craft Hall', '901 N Delaware Ave', 'Philadelphia', 3.5),
 ('ReAnimator Coffee', '1523 E Susquehanna Ave', 'Philadelphia', 4.0),
 ('Red Hook Coffee & Tea', '765 S 4th St', 'Philadelphia', 4.5),
 ('Acadia', '824 S 8th St', 'Philadelphia', 4.0),
 ('The Love', '130 S 18th St', 'Philadelphia', 4.0),
 ('Paddy Whacks Irish Sports Pub - South Street', '150 South St', 'Philadelphia', 2.5),
 ('The Twisted Tail', '509 S 2nd St', 'Philadelphia', 4.0),
 ('Whetstone Tavern', '700 S 5th St', 'Philadelphia', 4.0)]

Q7. How many restaurants in Philadelhphia offer food delivery ? Name the top 10 restaurants which offer food delivery?

In [ ]:
%%sql
SELECT count(*) FROM business
WHERE city ='Philadelphia' AND attributes LIKE '%"RestaurantsDelivery": "True"%' ;

 * mysql://team7:***@badm-database.cte4bvaqxbgn.us-east-2.rds.amazonaws.com:3306
1 rows affected.

[(1296,)]

In [ ]:
%%sql
SELECT name, address ,stars, hours FROM business
WHERE city ='Philadelphia' AND attributes LIKE '%"RestaurantsDelivery": "True"%' 
ORDER BY stars DESC 
LIMIT 10;

 * mysql://team7:***@badm-database.cte4bvaqxbgn.us-east-2.rds.amazonaws.com:3306
10 rows affected.

[('Tony Express', '3334 N Broad St', 5.0, '{"Friday": "8:0-19:0", "Monday": "8:0-18:45", "Tuesday": "8:0-18:45", "Saturday": "11:0-18:0", "Thursday": "8:0-18:45", "Wednesday": "8:0-18:45"}'),
 ('Rasavat', '9321 Krewstown Rd', 5.0, '{"Friday": "17:0-21:30", "Monday": "17:0-21:30", "Sunday": "17:0-21:30", "Tuesday": "17:0-21:30", "Saturday": "17:0-21:30", "Thursday": "17:0-21:30"}'),
 ('Flow State CoffeeBar', '2413 Frankford Ave', 5.0, '{"Friday": "10:0-13:0", "Sunday": "10:0-13:0", "Saturday": "10:0-13:0"}'),
 ('Alena‚Äôs Cafe', '6669 Germantown Ave', 5.0, '{"Friday": "7:30-16:0", "Sunday": "7:30-15:0", "Tuesday": "7:30-16:0", "Saturday": "7:30-15:0", "Thursday": "7:30-16:0", "Wednesday": "7:30-16:0"}'),
 ("Mom Mom's Kitchen and Polish Food Cart", '1505 South St', 5.0, '{"Friday": "16:0-22:0", "Monday": "0:0-0:0", "Saturday": "11:0-22:0", "Thursday": "16:0-22:0", "Wednesday": "11:0-18:0"}'),
 ('Yellow Bicycle Canteen', '930 Locust St', 5.0, '{"Friday": "8:0-20:0", "Sunday": "8:0-20:0", "Saturday": "8:0-20:0", "Thursday": "8:0-20:0", "Wednesday": "8:0-20:0"}'),
 ('The Sweet Life Bakeshop', '740 South St', 5.0, '{"Friday": "11:0-19:0", "Monday": "0:0-0:0", "Sunday": "11:0-18:30", "Tuesday": "11:0-18:30", "Saturday": "12:0-17:0", "Thursday": "11:0-19:0", "Wednesday": "11:0-19:0"}'),
 ('El Guero  Mexican Food Truck', '1256 W Montgomery Ave', 5.0, '{"Friday": "10:0-18:0", "Monday": "10:0-18:0", "Tuesday": "10:0-18:0", "Thursday": "10:0-18:0", "Wednesday": "10:0-18:0"}'),
 ('We Assemble It', '', 5.0, '{"Friday": "6:0-22:0", "Monday": "6:0-22:0", "Sunday": "6:0-22:0", "Tuesday": "6:0-22:0", "Saturday": "6:0-22:0", "Thursday": "6:0-22:0", "Wednesday": "6:0-22:0"}'),
 ('O blue caf√©', '400 Fairmount Ave', 5.0, '{"Friday": "7:0-17:0", "Monday": "7:0-17:0", "Sunday": "7:0-16:0", "Tuesday": "7:0-17:0", "Saturday": "7:0-17:0", "Thursday": "7:0-17:0", "Wednesday": "7:0-17:0"}')]

Q8. What is the price range in which the restaurants lie ? This will give us number of restaurants that are 

*   Low Range
*   Medium Range 
*   High Range

This will give us an idea about how much people are willing to spend on an average.

In [ ]:
#LOW RANGE
%%sql
SELECT name,address,stars, review_count FROM business
WHERE city ='Philadelphia' AND attributes LIKE '%"RestaurantsPriceRange2": "1"%' AND categories LIKE '%Restaurants%'
ORDER BY stars DESC
LIMIT 10;

 * mysql://team7:***@badm-database.cte4bvaqxbgn.us-east-2.rds.amazonaws.com:3306
10 rows affected.

[("Mom Mom's Kitchen and Polish Food Cart", '1505 South St', 5.0, 91),
 ("Mike's Hot Dog Cart", '24th & Passyunk Ave', 5.0, 22),
 ('Polka Deli Inc', '2719 E Allegheny Ave', 5.0, 9),
 ('Maplewood Nutrition & Dietary Food Shop', '51 Maplewood Ave', 5.0, 6),
 ("Fiorella's Sausage", '817 Christian St', 5.0, 27),
 ("Bangin' Curry Franklin", '1670 Washington Ave', 5.0, 77),
 ('52nd Station Diner', '9 S 52nd St', 5.0, 15),
 ("Antonio's Deli", '1014 Federal St', 5.0, 58),
 ("Castellino's", '1255 E Palmer St', 5.0, 72),
 ('El Soto Deli & Grocery', '1500 Tasker 15th St', 5.0, 15)]

In [ ]:
#MEDIUM RANGE
%%sql
SELECT name,address,stars, review_count FROM business
WHERE city ='Philadelphia' AND attributes LIKE '%"RestaurantsPriceRange2": "2"%' AND categories LIKE '%Restaurants%'
ORDER BY stars DESC
LIMIT 10;

 * mysql://team7:***@badm-database.cte4bvaqxbgn.us-east-2.rds.amazonaws.com:3306
10 rows affected.

[('Rasavat', '9321 Krewstown Rd', 5.0, 28),
 ('Otolith Sustainable Seafood', '2133 Huntingdon St', 5.0, 10),
 ("Barone's How U Doin' Deli & Grocery", '1515 W Porter St', 5.0, 11),
 ('Peking Garden', '2205 N Broad St', 5.0, 9),
 ('Circles + Squares', '2513 Tulip St', 5.0, 103),
 ('Taco & Ramen', '615 South St', 5.0, 26),
 ('J Sushi', '243 S 10th St', 4.5, 72),
 ('Jong Ka Jib', '6600 N 5th St', 4.5, 351),
 ('Flambo Caribbean Restaurant', '820 N Broad St', 4.5, 138),
 ('The Lunar Inn', '3124 Richmond St', 4.5, 29)]

In [ ]:
#HIGH RANGE
%%sql
SELECT name,address,stars, review_count FROM business
WHERE city ='Philadelphia' AND attributes LIKE '%"RestaurantsPriceRange2": "3"%' AND categories LIKE '%Restaurants%'
ORDER BY stars DESC
LIMIT 10;

 * mysql://team7:***@badm-database.cte4bvaqxbgn.us-east-2.rds.amazonaws.com:3306
10 rows affected.

[("Angelina's", '743 S 8th St', 4.5, 49),
 ('Suraya', '1528 Frankford Ave', 4.5, 1121),
 ('Spice Finch', '220 S 17th St', 4.5, 325),
 ('Bistrot La Minette', '623 S 6th St', 4.5, 619),
 ('Townsend', '2121 Walnut St', 4.5, 246),
 ('Via Locusta', '1723 Locust St', 4.5, 144),
 ('Casta Diva', '227 S 20th St', 4.5, 148),
 ('Laser Wolf', '1301 N Howard St', 4.5, 162),
 ('Palizzi Filippo Social Club', '1408 S 12th St', 4.5, 15),
 ('Tria Cafe Rittenhouse', '123 S 18th St', 4.5, 880)]

Q9. List of restaurants that have a Television in the restaurants. We can consider adding televisions for special match screenings and songs.

In [ ]:
%%sql
SELECT name, address, city,stars,categories FROM business
WHERE city ='Philadelphia' AND attributes LIKE '%"HasTV": "True"%'
Order by stars DESC
LIMIT 10;

 * mysql://team7:***@badm-database.cte4bvaqxbgn.us-east-2.rds.amazonaws.com:3306
10 rows affected.

[('Alena‚Äôs Cafe', '6669 Germantown Ave', 'Philadelphia', 5.0, 'Cafes, Restaurants'),
 ('O blue caf√©', '400 Fairmount Ave', 'Philadelphia', 5.0, 'Restaurants, Cafes'),
 ('Boricua Restaurant', '1149 N 3rd St', 'Philadelphia', 5.0, 'Caribbean, Spanish, Puerto Rican, Latin American, Restaurants'),
 ("Mike's Hot Dog Cart", '24th & Passyunk Ave', 'Philadelphia', 5.0, 'Food Stands, Restaurants'),
 ('Dr Thunder Karaoke', '', 'Philadelphia', 5.0, 'Event Planning & Services, DJs, Party & Event Planning, Karaoke, Nightlife, Trivia Hosts, Officiants'),
 ('Jade Palace', '1714 S 5th St', 'Philadelphia', 5.0, 'Restaurants, Chinese'),
 ('Polka Deli Inc', '2719 E Allegheny Ave', 'Philadelphia', 5.0, 'Delis, Restaurants, Sandwiches'),
 ('Midori Sushi', '516 S 5th St', 'Philadelphia', 5.0, 'Salad, Sushi Bars, Japanese, Restaurants'),
 ('Maliwan', '1700 S 6th St', 'Philadelphia', 5.0, 'Laotian, Thai, Restaurants'),
 ('The Lucky Well - Spring Arts', '990 Spring Garden St', 'Philadelphia', 5.0, 'Chicken Shop, Barbeque, Restaurants')]

Q10. Which top 10 restaurants are offering Breakfast & Brunch? If there are not many breakfast or brunch special places, we can consinder opening such a place.

In [ ]:
%%sql
SELECT name, address, city, stars FROM business
WHERE city ='Philadelphia' AND categories LIKE '%Breakfast & Brunch%'
LIMIT 10;

 * mysql://team7:***@badm-database.cte4bvaqxbgn.us-east-2.rds.amazonaws.com:3306
10 rows affected.

[('Red Hook Coffee & Tea', '765 S 4th St', 'Philadelphia', 4.5),
 ('Acadia', '824 S 8th St', 'Philadelphia', 4.0),
 ('The Love', '130 S 18th St', 'Philadelphia', 4.0),
 ('NY Bagel Cafe & Deli', '4514 B City Line Ave, Ste 220', 'Philadelphia', 3.0),
 ('Chick-fil-A', '9711 Roosevelt Blvd', 'Philadelphia', 4.0),
 ('NY Bagel & Deli Shop', '1120 Buttonwood St', 'Philadelphia', 4.0),
 ("Cafe Victoria's", '325 N 12th St', 'Philadelphia', 3.0),
 ('24', '2401 Walnut St', 'Philadelphia', 3.5),
 ('Cedar Park Cafe', '4914 Baltimore Ave', 'Philadelphia', 4.0),
 ('Breakfast Boutique Chestnut Hill', '8630 Germantown Ave', 'Philadelphia', 3.0)]

Q11. List the top 10 restaurants that offer Bubble Tea ? If there are not many bubble tea joints, we can consinder opening a Bubble Tea Joint or can offer bubble Tea in our restaurants.

In [ ]:
%%sql
SELECT name, address, city, stars FROM business
WHERE city ='Philadelphia' AND categories LIKE '%Bubble Tea%'
ORDER BY stars
LIMIT 10;

 * mysql://team7:***@badm-database.cte4bvaqxbgn.us-east-2.rds.amazonaws.com:3306
10 rows affected.

[('Mr Wish', '5520 Whitaker Ave, Ste 10', 'Philadelphia', 2.5),
 ('HaoTea', '2825 Cottman Ave, Unit 3', 'Philadelphia', 3.0),
 ('Kung Fu Tea', '2222 Cottman Ave', 'Philadelphia', 3.0),
 ('Tea Magic', '123 N 10th St', 'Philadelphia', 3.0),
 ('Whirled Peace Frozen Yogurt & Smoothies', '4321 Main St', 'Philadelphia', 3.5),
 ('MIUCHA', '222 N 10th St', 'Philadelphia', 3.5),
 ('Tsaocaa', '1715 Chestnut St', 'Philadelphia', 3.5),
 ('Pok√©-Man', '3737 Chestnut St', 'Philadelphia', 3.5),
 ('Kung Fu Tea', '600 Washington Ave, Unit 16', 'Philadelphia', 3.5),
 ('Ten Asian Food Hall', '1715 Chestnut St', 'Philadelphia', 3.5)]